DEV_GUILD_ID=<Id of the guild you want to register the commands in>
PRODUCTION=<1 or 0 wheter you currently run the bot in production mode or dev mode>
TOKEN=<The token of the bot you obtained on the Discord Developer portal>
DEV_ID=<The discord user id of the main developer>
MONGO_URI=<URI of the mongodb database>
